<a href="https://colab.research.google.com/github/nanachansan/are_our_villains_queer-are_our_gays_dead/blob/master/are_villains_queer_coded_are_all_our_gays_dead.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# salvar os paths em variavéis para código mais limpo
dc = "C:/Users/IP/Documents/PROGRAMAÇÃO PYTHON/DATA PROJECTS/dc-wikia-data.csv"

marvel = "C:/Users/IP/Documents/PROGRAMAÇÃO PYTHON/DATA PROJECTS/marvel-wikia-data.csv"

#ler os cvs dentro das variáveis corretas
dc_data = pd.read_csv(dc)
marvel_data = pd.read_csv(marvel)

#marvel_data.shape #13 colunas, 16376 linhas
#dc_data.shape #13 colunas, 6896

marvel_data.tail()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [ ]:
#chegar se os dataframes tem a mesma quantidade/nome de coluna

#dc_data.columns
marvel_data.columns

#como são iguais, podem ser merged com base nas colunas posteriormente

Index(['page_id', 'name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX',
       'GSM', 'ALIVE', 'APPEARANCES', 'FIRST APPEARANCE', 'Year'],
      dtype='object')

In [ ]:
#como a variavel GSM é a variável que determina se o personagem é de alguma minoria de genero ou
#de orientação sexual, vamos chegar os valores únicos dentro

marvel_data['GSM'].unique() #enquanto na marvel vemos mais diversidade de gênero (além dos nan) 
#dc_data['GSM'].unique() #a DC é composta de missing values e personagens bi/homo

array([nan, 'Bisexual Characters', 'Transvestites',
       'Homosexual Characters', 'Pansexual Characters',
       'Transgender Characters', 'Genderfluid Characters'], dtype=object)

In [ ]:
#para uma análise mais interessante, vamos chegar os missing values de todas as colunas
# e usar o fillna, dependendo do caso (os que tão nan serão colocados como unknow)

marvel_data.isnull().sum()

page_id                 0
name                    0
urlslug                 0
ID                   3770
ALIGN                2812
EYE                  9767
HAIR                 4264
SEX                   854
GSM                 16286
ALIVE                   3
APPEARANCES          1096
FIRST APPEARANCE      815
Year                  815
dtype: int64

In [ ]:
#marvel_data['GSM'].value_counts() #a partir disso, verificamos que existem poucas minorias

sex_gender_min = ['Bisexual Characters', 'Transvestites',
       'Homosexual Characters', 'Pansexual Characters',
       'Transgender Characters', 'Genderfluid Characters'] #criei uma lista para iterar mais fácil e achar os alimentos

#criada uma função para descobrir os alinhamentos dos personagens
def find_queers_alignment(x, dataset):
    align_finder = dataset[dataset['GSM']== x]['ALIGN'].value_counts()
    return align_finder

#fiz uma compreensão de lista para aplicar a função em cada um dos valores
[find_queers_alignment(x, marvel_data) for x in sex_gender_min]

#com o resultado, apenas 9 (4 bis e 5 homos foram considerados vilões, 14.28% dos bis e 8.92% dos gays)

[Good Characters       9
 Neutral Characters    6
 Bad Characters        4
 Name: ALIGN, dtype: int64,
 Neutral Characters    1
 Name: ALIGN, dtype: int64,
 Good Characters       42
 Neutral Characters    10
 Bad Characters         5
 Name: ALIGN, dtype: int64,
 Good Characters    1
 Name: ALIGN, dtype: int64,
 Good Characters    1
 Name: ALIGN, dtype: int64,
 Good Characters    1
 Name: ALIGN, dtype: int64]

In [ ]:
#criei uma função para determinar quais personagens de minorias estavam vivos
def find_queers_alive(x, dataset):
    alive_finder = dataset[dataset['GSM']== x]['ALIVE'].value_counts()
    return alive_finder

#fiz uma compreensão de lista para aplicar a função em cada um dos valores
[find_queers_alive(x, marvel_data) for x in sex_gender_min]

#a partir desta análise, apenas 3 dos personagens bi estavam listados como mortos e 17 dos gays
#nisto, temos uma porcentagem de 10.71% dos bis mortos e 30.35% dos gays mortos

[Living Characters      16
 Deceased Characters     3
 Name: ALIVE, dtype: int64,
 Living Characters    1
 Name: ALIVE, dtype: int64,
 Living Characters      49
 Deceased Characters    17
 Name: ALIVE, dtype: int64,
 Living Characters    1
 Name: ALIVE, dtype: int64,
 Living Characters    2
 Name: ALIVE, dtype: int64,
 Living Characters    1
 Name: ALIVE, dtype: int64]

In [ ]:
#iremos repetir a mesma análise com o dataset da dc

dc_data.isnull().sum()

page_id                0
name                   0
urlslug                0
ID                  2013
ALIGN                601
EYE                 3628
HAIR                2274
SEX                  125
GSM                 6832
ALIVE                  3
APPEARANCES          355
FIRST APPEARANCE      69
YEAR                  69
dtype: int64

In [ ]:
#como as funções já foram declaradas, eu apenas irei criar as compreensões de lista
#primeiro a que tem relação de quem são os queers

#criaremos uma lista com menos atributos para evitar iteração vazia

sex_gender_min2 = ['Bisexual Characters', 'Homosexual Characters']

[find_queers_alignment(x, dc_data) for x in sex_gender_min2] 

#a DC tem muitos personagens gays, com quantidades consideráveis em vilões (menos que heróis)
#então temos um total de 30% de personagens bi vilões e 22,64 % para gays

[Good Characters       6
 Bad Characters        3
 Neutral Characters    1
 Name: ALIGN, dtype: int64,
 Good Characters       37
 Bad Characters        12
 Neutral Characters     4
 Name: ALIGN, dtype: int64]

In [ ]:
#agora estaremos correndo a análise com a função de descobrirs quais 
#queers estão vivos

[find_queers_alive(x, dc_data) for x in sex_gender_min2]

#a porcentagem de gays/bis mortos é relativamente baixa também
#mais precisamente 11,11% de bis mortos e 9,43% de gays mortos

[Living Characters      9
 Deceased Characters    1
 Name: ALIVE, dtype: int64,
 Living Characters      48
 Deceased Characters     5
 Name: ALIVE, dtype: int64]